#message-section {
    height:25px;
    margin-top: 10px;
    opacity: 0;
    
    padding: 10px 5px 5px 5px;
    border: 2px solid #E8E8E8;
    border-radius: 15px;
    overflow: hidden;
}

.success {
    background: #308014;
}
.error {
    background: #800000;
}